html {
  height: 100%;
}

html, body {
  font-size: calc(14px + 4 * ((100vw - 420px) / 920));
}

body {
  margin: 0;
  min-height: 100%;
  color: #091F2F;
}

/* Backgrounds */
.bg-n {
  background: none;
}

.bg-g100 {
  background: rgba(241,241,241,1);
}

.bg-g200 {
  border-color: rgba(224,224,224,1);
}

/* Borders */
.b-n {
  border: none;
}

.bt-sm {
  border-top-style: solid;
  border-top-width: 1px;
}

.br-sm {
  border-right-style: solid;
  border-right-width: 1px;
}

.bl-sm {
  border-left-style: solid;
  border-left-width: 1px;
}

.bb-sm {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bb-xl {
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

.bc-cb {
  border-color: #091F2F;
}

.bc-g200 {
  border-color: rgba(217,217,217,1);
}

/* Colors */
.c-cb {
  color: #091F2F;
}

.c-ob {
  color: #288BE4;
}

.c-g300 {
  color: #929292;
}

/* Cursor */
.cu-p {
  cursor: pointer;
}

/* Display */
.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-fab {
  align-items: flex-end;
}

/* Icons */
.icon-md {
  height: 40px;
  width: 40px;
}

/* Fonts */
.ff-ss {
  font-family: 'Monserrat', arial, sans-serif;
}

.ff-s {
  font-family: 'Lora', Georgia, serif;
}

/* Font sizing */
.fs-100 {
  font-size: 0.72222222222rem;
}

.fs-200 {
  font-size: 0.83333333333rem;
}

.fs-300 {
  font-size: 1.38888888889rem;
}

.fs-600 {
  font-size: 2.5rem;
}

.fs-700 {
  font-size: 2.77777777778rem;
}

/* Font styling */
.fs-i {
  font-style: italic;
}

.ls-000 {
  letter-spacing: -1px;
}

.tt-u {
  text-transform: uppercase;
}

.tt-c {
  text-transform: capitalize;
}

/* Line height */
.lh-300 {
  line-height: 1.9444444444444rem;
}

/* Links */
a, a:link {
  color: #288BE4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide-md
  @media screen and (max-width: 930px)
    display: none

/* Margins */
.mh-auto
  @media screen and (max-width: 930px)
    margin-left: 1rem;
    margin-right: 1rem;

  margin-left: auto;
  margin-right: auto;

.mh-xl {
  margin-left: 50px;
  margin-right: 50px;
}

.mt-xl
  margin-top: 50px

  @media screen and (max-width: 500px)
    margin-top: 25px

.m-0 {
  margin: 0;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.ml-a {
  margin-left: auto;
}

/* Max widths */
.mw-xl {
  max-width: 50em;
}

/* Outline */
.o-n {
  outline: none;

  &:focus {
    outline: none;
  }
}

/* Paddings */
.p-n {
  padding: none;
}

.p-md {
  padding: 2em;
}

.pb-sm {
  padding-bottom: 0.75rem;
}

.pl-sm {
  padding-right: 2em;
}

.pv-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pv-xl
  padding-top: 50px
  padding-bottom: 50px

  @media screen and (max-width: 500px)
    padding-top: 25px
    padding-bottom: 25px

/* Paths */
.p100 {
  fill: #FB4D42;
}

/* Text */
.ta-l {
  text-align: left;
}

/* Widths */
.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.homes {
  height: 200px;
  background: url(/images/homes.svg) no-repeat center bottom;
  background-size: contain;
}
