<div class="pv-xl mw-xl mh-auto d-f__m">
  <div class="w-50 pb-m">
    <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">Where do funds come from?</h4>
    <p class="ff-s lh-400 c-g300">The majority of new revenue would come from commercial properties in the City.</p>
    <p class="ff-s lh-400 c-g300">Revenue for Community Preservation Fund projects in Boston would be raised through a local real estate tax surcharge of 1% and is estimated to be $16.5 million annually.</p>
    <p class="ff-s lh-400 c-g300">Implementing the surcharge will also provide access to millions more in matching community preservation funding from the State.</p>
  </div>
  <div class="w-50 ml-a__m">
    <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">How will I be charged?</h4>
    <p class="ff-s lh-400 c-g300">Before calculating the 1% surcharge, a $100,000 exemption would be deducted from the assessed value of your property and all personal and residential exemptions. </p>
    <p class="ff-s lh-400 c-g300">The majority of new revenue would come from commercial properties in the City.</p>
  </div>
</div>
