<div id="resultContainer" class="mw-xl mh-auto pv-xl" style="display: none"></div>

<script id="resultsTemplate" type="text/x-handlebars-template">
  <p class="ff-s fs-i fs-300 lh-300">If the Community Preservation Act had been in effect for FY 2016, the annual surcharge for this property would have been <span class="c-ob">{{cpa}}</span>.</p>
  <p class="ff-s fs-i fs-300 lh-300">This is not an estimate for FY 2017.</p>
</script>

<script>
  var sourceParcel = $('#resultsTemplate').html();
  var templateParcel = Handlebars.compile(sourceParcel);

  var getUrlVar = function(key) {
    var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
    return result && unescape(result[1]) || "";
  }

  var getPIDMeta = function() {
    var pid = getUrlVar('pid');
    $.getJSON('https://www.cityofboston.gov/assessing/search/json.asp?q=' + pid, function (r) {
      var pidData = isPID(r, pid);

      if (pidData) {
        $('#query').val(pidData.address);
        $('#owner').html(pidData.owner);
      }
    });
  }

  var isPID = function(r, pid) {
    var i = r && r.addresses.length;

    if (i) {
      while(i--) {
        if (r.addresses[i].parcelID === pid) {
          return r.addresses[i];
        }
      }
    } else {
      return false;
    }
  }

  var handlePIDResults = function(r, obj) {
    var obj = obj;

    obj.cpa = r.value.taxes.CPA;

    if (r) {
      $('#resultContainer').html(templateParcel(obj)).show();
      $('#results').hide('fast');

      if (!obj.address || !obj.owner) {
        getPIDMeta(obj.pid.toString());
      } else {
        $('#query').val(obj.address);
      }
    }
  }

  var loadPIDResult = function(e) {
    e.preventDefault();

    var el = $(this);
    var obj = {
      address: el.data('address'),
      pid: el.data('pid').toString(),
      owner: el.data('owner')
    }

    getPIDData(obj);
  }

  var getPIDData = function (obj) {
    console.log(obj)
    var pid = obj.pid && obj.pid.length === 10 ? obj.pid.toString() : getUrlVar('pid').toString();
    var obj = obj || {pid: pid, owner: false, address: false};

    if (pid && pid.length === 10) {
      $.getJSON('https://www.cityofboston.gov/assessing/search/json.asp?pid=' + pid, function(p) {
        handlePIDResults(p, obj);
      });
    } else {
      console.log('Invalid PID');
    }
  }

  $('#results').on('click', '.parcel-link', loadPIDResult);
  $(document).ready(getPIDData);
</script>
