<!DOCTYPE html>
<html>
  <head>
    <title>CPA</title>
    <script src="/javascript/vendor.js"></script>
    <!--[if lte IE 9]>
      <script src="/javascript/flexibility.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Lora:400italic|Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='/stylesheet/main.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:url" content="http://cpainfo.boston.gov">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Boston’s Community Preservation Act Calculator" />
    <meta property="og:description" content="Use this tool to get an idea of how your tax bill may be affected if the act passes.">
    <meta property="og:image" content="https://www.boston.gov/sites/default/files/photo-image-08-2016/img_0414.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cityofboston">
    <meta name="twitter:creator" content="@cityofboston">
    <meta name="twitter:title" content="Boston’s Community Preservation Act Calculator">
    <meta name="twitter:description" content="Use this tool to get an idea of how your tax bill may be affected if the act passes.">
    <meta name="twitter:image" content="https://www.boston.gov/sites/default/files/photo-image-08-2016/img_0414.jpg">
  </head>
  <body>
    <%- yield %>
    <div class="homes mw-xl pv-xl mh-auto"></div>
    <script src="//cob-header.herokuapp.com/header.js"></script>
  </body>
</html>
