<!DOCTYPE html>
<html>
  <head>
    <title>CPA</title>
    <script src="/javascript/vendor.js"></script>
    <!--[if lte IE 9]>
      <script src="/javascript/flexibility.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Lora:400italic|Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='/stylesheet/main.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="refresh" content="0;url=http://www.cityofboston.gov/news/default.aspx?id=20600">
    <script type="text/javascript">
      window.location.href = "http://www.cityofboston.gov/news/default.aspx?id=20600"
    </script>
  </head>
  <body>
    <%- yield %>
    <div class="homes mw-xl pv-xl mh-auto"></div>
    <script src="//cob-header.herokuapp.com/header.js"></script>
  </body>
</html>
