<div class="mt-xl mw-xl pv-xl mh-auto">
  <div class="bb-xl bc-cb">
    <h1 class="m-0 ff-ss tt-u c-cb fs-600 ls-000">Community Preservation Act</h1>
  </div>
  <p class="ff-s fs-i fs-300 lh-300">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
</div>

<%- partial("_search", {title: "Seach address..."}) %>
