<div class="mt-xl mw-xl mh-auto">
  <div class="bb-xl bc-cb">
    <h1 class="m-0 ff-ss tt-u c-cb fs-600 ls-000">Boston’s Community Preservation Act Calculator</h1>
  </div>
</div>

<div class="pv-xl mw-xl mh-auto">
  <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">What is the Community Preservation Act?</h4>
  <p class="ff-s lh-400 c-g300">This November, a Community Preservation Act ballot question will appear on the ballot in Boston. The Community Preservation Act would create a Community Preservation Fund to support affordable housing, historic preservation, and open space initiatives in Boston. It would also establish a local Community Preservation Committee to review project proposals and recommend projects to the City Council for approval.</p>
</div>

<div class="pv-xl mw-xl mh-auto">
  <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">How much will I pay?</h4>
  <p class="ff-s lh-400 c-g300">Revenue for Community Preservation Fund projects in Boston would be raised through a local real estate tax surcharge of 1% beginning in fiscal year 2018. This calculator shows an estimate of what the surcharge would have been using data from fiscal year 2016. Enter an address below to get an idea of how your tax bill may be affected if the act passes.</p>
</div>

<%- partial("_search", {title: "Seach address..."}) %>
<%- partial("_cpa") %>

<div class="pv-xl mw-xl mh-auto">
  <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">How will I be charged?</h4>
  <p class="ff-s lh-400 c-g300">The 1% surcharge is applied to a <strong>revised net tax</strong> you owe on the property, not the assessed value of your property. To calculate your revised net tax, we first automatically deduct $100,000 from the assessment of <strong>all properties</strong>. Taxpayers do not need to file for this exemption.</p>
  <p class="ff-s lh-400 c-g300">We would next deduct any personal and/or residential exemptions, where applicable, and then apply standard tax rates to this reduced value. The 1% surcharge would apply to this revised net tax amount.</p>
</div>
