<div class="mt-xl mw-xl pv-xl mh-auto squiggle-border-bottom">
  <div class="bb-xl bc-cb">
    <h1 class="m-0 ff-ss tt-u c-cb fs-600 ls-000">The Value of Community Preservation</h1>
  </div>
  <p class="ff-s fs-i fs-300 lh-300">Boston could join 161 cities and towns in Massachusetts in creating a Community Preservation Fund to support affordable housing, historic preservation, and open space initiatives in Boston.</p>
</div>

<div class="pv-xl mw-xl mh-auto">
  <h4 class="fs-200 ff-ss c-cb tt-u m-0 fw-300 ls-100 mb-xs">How much will I pay?</h4>
  <p class="ff-s lh-400 c-g300 m-0">To see how your tax bill may be affected if the Community Preservation Act referendum passes, use the search tool below to show an estimate of how much the surcharge may have been in fiscal year 2016.</p>
</div>

<%- partial("_search", {title: "Seach address..."}) %>
<%- partial("_cpa") %>
<%- partial("_content") %>
