<form action="//www.cityofboston.gov/assessing/search/json.asp" method="GET">
  <input id="query" class="search__query" name="q" />
  <button>Search</button>
</form>
<div id="results"></div>

<script id="resultsTable" type="text/x-handlebars-template">
  <table>
    <thead>
      <th>Parcel ID</th>
      <th>Owner</th>
      <th>Address</th>
    </thead>
    <tbody>
      {{#addresses}}
        <tr>
          <td><a href="/parcel.html?pid={{parcelID}}">{{parcelID}}</a></td>
          <td>{{owner}}</td>
          <td>{{address}}</td>
        </tr>
      {{/addresses}}
    </tbody>
  </table>
</script>

<script>
  var source = $('#resultsTable').html();
  var template = Handlebars.compile(source);

  var handleResults = function(r) {
    if (r && r.addresses.length > 0) {
      $('#results').html(template(r));
    } else {
      $('#results').html("We didn't find any matches for that address.");
    }
  }

  var handleSearch = function (ev) {
    ev.preventDefault();

    var value = $('#query').val();

    if (value && value.length > 2) {
      performSearch(value);
    } else {
      $('#results').html("");
    }
  }

  var performSearch = function (value) {
    $.getJSON($('form').attr('action') + '?q=' + value, handleResults);
  }

  $('form').on('submit', handleSearch);
  $('#query').on('keyup', handleSearch);
</script>
